#time_asc,#time_desc {
    width: 130px;
}

.breadcrumb {
    background-color: #f8f9fa;
}

.click-button {
    color: #fff;
    background-color: #117a8b;
    border-color: #10707f;
}


#fy li { 
    
    float:left;
    margin-left: 5px;
    margin-right: 5px;
}

#fy li a{
    color: #666;
    font-size: 16px;
}

.this-page {
    color: #007bff !important;
}

#page-input {
    width: 40px;
    display: inline-block;
    height: 24px;
    border: darkgrey solid 1px;
}

#next-five-page {
    color: #007bff !important;
}

#home-page {
    color: #007bff !important;
}
